:root {
	--clr-primary: #2d2640;
	--clr-accent: hsl(216, 30%, 68%);
	--clr-neutral-100: hsl(0, 0%, 98%);
	--clr-neutral-200: hsl(273, 4%, 51%);
	--clr-neutral-300: hsl(270, 9%, 17%);
	--fw-normal: 400;
	--fw-bold: 700;
	--ff-primary: "Karla", sans-serif;
	--ff-heading: "DM Serif Display", serif;
}

/* [1] global css */
/* [2] Typoography */
/* [3] attribution */
/* [4] navbar */
/* [5] section one | main */
/* [6] section two | article */
/* [7] section three | cta */
/* [8] footer navigation | social links */

/* [1] global css ========== */
* {
	transition: all ease 0.2s;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	font-weight: var(--fw-bold);
}

body {
	font-family: var(--ff-primary);
	text-align: center;
}

/* [2] Typoography ========== */

h1,
h2,
h3 {
	font-family: var(--ff-heading);
	font-weight: var(--fw-normal);
	line-height: 1;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1rem;
	line-height: 2;
}

@media (min-width: 43.75rem) {
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 2.5rem;
	}
}

/* [3] attribution ========== */

.attribution {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: var(--fw-normal);
	font-size: 11px;
	padding: 0 3rem;
	color: var(--clr-accent);
}

.attribution a {
	color: var(--clr-accent);
}

/* [4] navbar ========== */
.navbar img {
}

.primary--navigation {
	display: grid;
	text-align: center;
	text-transform: uppercase;
}

.primary--navigation a {
	color: var(--clr-neutral-200);
	padding: 1rem 2rem;
	display: block;
	letter-spacing: 0.05rem;
	/* display: none; */
}

.primary--navigation li:last-child a {
	color: var(--clr-neutral-300);
	border: 0.2em solid var(--clr-neutral-300);
}

.primary--navigation a:is(:hover, :focus-visible) {
	color: var(--clr-neutral-300);
}

.primary--navigation li:last-child a:is(:hover, :focus-visible) {
	color: var(--clr-neutral-100);
	background: var(--clr-neutral-300);
}

@media (min-width: 73.125rem) {
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.primary--navigation {
		display: flex;
		gap: 2rem;
		align-items: center;
	}

	.primary--navigation a {
		padding: 0;
	}

	.primary--navigation li:last-child a {
		padding: 1rem 2rem;
	}
}

/* [5] section one | main ========== */

.section--one img {
	margin-inline: auto;
}

.section--one.hero {
	background: var(--clr-primary);
}

.section--one h1,
p {
	color: var(--clr-neutral-100);
}

/* button  */

.button a {
	display: inline-block;
	padding: 1em 2em;
	border: 0.2em solid var(--clr-neutral-100);
	color: var(--clr-neutral-100);
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

.button a:is(:hover, :focus-visible) {
	color: var(--clr-neutral-300);
	background: var(--clr-neutral-100);
}

/* pseudo element border top */
.section--one .section--wrapper h1::after {
	border-top: 1px solid var(--clr-neutral-100);
}

.section--two .section--wrapper h1::after {
	content: "";
	width: 15rem;
	position: absolute;
	top: -3rem;
	left: 50%;
	transform: translate(-50%, -25px);
	border-top: 1px solid var(--clr-neutral-200);
}

/* [6] section two ========== */

.section--two p {
	color: var(--clr-neutral-200);
}

/* [7] section three ========== */
.cta h2 {
	color: var(--clr-neutral-100);
	font-weight: var(--fw-normal);
}

/* [8] footer navigation | social links ========== */

footer {
	background: var(--clr-neutral-100);
}

.social--link:hover path {
	fill: var(--clr-neutral-300);
}

footer ul li {
	text-transform: uppercase;
	font-weight: var(--fw-bold);
}

.footer--navigation {
}

footer .footer--links a {
	color: var(--clr-primary);
	letter-spacing: 0.05rem;
}
footer .footer--links a:hover {
	text-decoration: underline;
}

.link--category {
	color: var(--clr-accent);
}
